{% extends "testApp/base.html" %} 

{% block body_block %}

<!DOCTYPE html>
<html lang="en">

<head>
   
    <title>Employee List</title>
</head>

<body>

    <div class="container mt-5">
        <h1>Employee List</h1>

        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Emp First Name</th>
                    <th>Emp Last Name</th>
                    <th>Emp Email</th>
                    <th>Emp Address</th>
                    <th>Emp Number</th>
                    <th>Emp Salary</th>
                    <th>Emp Join Date</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                {% for Emp in employee_list %}
                <tr>
                    <td>{{ Emp.first_name }}</td>
                    <td>{{ Emp.last_name }}</td>
                    <td>{{ Emp.Emp_email }}</td>
                    <td>{{ Emp.Emp_address }}</td>
                    <td>{{ Emp.Emp_number }}</td>
                    <td>{{ Emp.Emp_salary }}</td>   
                    <td>{{ Emp.Emp_Join_Date }}</td>
                    <td> <a href="/update/{{Emp.id}}">Update</a>
                    &nbsp; &nbsp; <a href="{% url 'delete' pk=Emp.id %}"> Delete </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <a href="/create" class="btn btn-success btn-lg" role="button"> Insert/Update Emp Details </a>
     
    </div>

  
  

</body>

</html>

{% endblock %}
