{% extends "testApp/base.html" %} 

{% block body_block %}

<!DOCTYPE html>
<html lang="en">

<head>
   
    <title>Employee Details</title>
</head>

<body>

    <div class="container mt-5">
   
    <h1> Insert / Update Employee Details</h1>

    <form method="post">
    {{ form.as_p }}
    {% csrf_token %}


    <input type="submit" value ="Update Emp Details" class="btn btn-primary btn-lg" >
    {% comment %} <a href="/update" class="btn btn-primary btn-lg" role="button"> Update Emp Details </a> {% endcomment %}

    </from>
       
    </div>
</body>

</html>

{% endblock %}
